
div.files > div.toolBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  background-color: var(--terminal-bg);
  border-bottom: 1px solid var(--border-color);
  transition: .3s all;
}

div.files.right > div.toolBar {
  border-left: 1px solid var(--border-color);
}

div.files > div.toolBar > input {
  position: absolute;
  margin: 0px;
  top: 4px;
  left: 40px;
  color: var(--tabs-selected-font-color);
  width: calc(100% - 80px);
  border: none;
  background-color: transparent;
}

div.files > div.toolBar > input:focus{
  outline: none;
}

div.files > div.toolBar > img.reload {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 16px;
  filter: invert(var(--invert-buttons));
  cursor: pointer;
  z-index: 2;
  transition: .1s all;
}

div.files > div.toolBar > img.split {
  position: fixed;
  top: 36px;
  right: 10px;
  width: 16px;
  filter: invert(var(--invert-buttons));
  cursor: pointer;
  z-index: 2;
  transition: .1s all;
}

div.files > div.toolBar > img.reload:hover,
div.files > div.toolBar > img.split:hover {
  filter: invert(var(--invert-buttons-hover));
}

/* -------------------------------------------------------------------------- */

div.files {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  transition: .3s all;
}

div.files.right {
  left: auto;
  right: 0px;
  width: 0%;
  border-left: 1px solid var(--border-color);
}

div.files > ul {
  width: 100%;
  height: calc(100% - 26px);
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
  margin-top: 26px;
  overflow-x: hidden;
}

div.files > ul > li {
  position: relative;
  height: 35px;
  width: 100%;
  /* border-bottom: 1px solid var(--border-color); */
  cursor: pointer;
  box-sizing: border-box;
  transition: .1s all;
}

div.files > ul > li:hover {
  background-color: var(--input-bg);
  border-left: 3px solid var(--input-bg);
  transition: .1s all;
}

div.files > ul > li.selected {
  background-color: var(--input-bg);
  border-left: 3px solid var(--select-color) !important;
}

div.files > ul > li > img {
  position: absolute;
  left: 20px;
  top: 7px;
  height: 20px;
}

div.files > ul > li > img.folder {
  filter: brightness(0) saturate(100%) invert(75%) sepia(39%) saturate(343%) hue-rotate(5deg) brightness(90%) contrast(91%);
}

div.files > ul > li > img.file {
  filter: brightness(0) saturate(100%) invert(72%) sepia(59%) saturate(244%) hue-rotate(156deg) brightness(84%) contrast(92%);
}

div.files > ul > li > img.link {
  filter: brightness(0) saturate(100%) invert(72%) sepia(59%) saturate(244%) hue-rotate(156deg) brightness(84%) contrast(92%);
}

div.files > ul > li > img.back {
  filter: invert(50%) sepia(35%) saturate(6992%) hue-rotate(144deg) brightness(94%) contrast(101%);
}

div.files > ul > li > p {
  position: absolute;
  margin-left: 60px;
  color: var(--tabs-selected-font-color);
  margin: 0px;
  top: 7px;
  left: 60px;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.files > ul > li > p.size {
  left: auto;
  right: 10px;
  color: var(--tabs-font-color);
  width: 80px;
  text-align: left;
}

div.files > ul > li > p.access_rights {
  left: auto;
  right: 150px;
  color: var(--tabs-font-color);
  width: 100px;
  text-align: left;
}

div.files > div.upload-frame {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #00000066;
  cursor: default;
  pointer-events: none;
}

div.files.drag-over > div.upload-frame {
  display: block;
}

div.files > div.upload-frame > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  filter: invert(var(--tabs-invert-selected-buttons));
  width: 100px;
}

div.files > div.upload-frame > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: var(--tabs-selected-font-color);
  width: 100%;
  font-size: 1.6em;
  text-align: center;
}

div.connection_warning {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

div.connection_warning > p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--tabs-selected-font-color);
  font-size: 1.6em;
}
