
@font-face {
    font-family: 'icon';
    src: url('../font/icon.eot');
    src: url('../font/icon.eot?#iefix') format('embedded-opentype'),
         url('../font/icon.woff') format('woff'),
         url('../font/icon.ttf') format('truetype'),
         url('../font/icon.svg#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
  .icon-dot:before{content:'\0041';}
  .icon-marker:before{content:'\0042';}
  .icon-checkbox-checked:before{content:'\0043';}
  .icon-checkbox:before{content:'\0044';}
*/
