
div.left_menu {
  position: fixed;
  top: calc(var(--titleBar-height) - 1px);
  left: 0px;
  width: 200px;
  height: calc(100% - var(--titleBar-height) + 1px);
  transition: .2s all;
  border-top: 1px solid var(--bg-color);
  border-right: 1px solid var(--border-color);
  z-index: 10;
}

div.left_menu > div.hover_hitbox {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 100%;
  transform: translateX(100%);
  pointer-events: none;
}

div.left_menu:hover > div.hover_hitbox {
  pointer-events: all;
}

div.left_menu > div.close_button {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: var(--bg-color);
  border: 1.8px solid var(--border-color);
  cursor: pointer;
  transition: .1s all;
}

div.left_menu:hover div.close_button {
  transform: translate(50%, -50%);
}

div.left_menu > div.close_button > img {
  position: absolute;
  right: 6px;
  top: 20px;
  width: 16px;
  filter: invert(var(--invert-buttons));
  transform: rotate(90deg);
  transition: .1s all;
  opacity: 0;
}

div.left_menu:hover div.close_button > img {
  opacity: 1;
}

div.left_menu > div.close_button:hover > img {
  filter: invert(var(--invert-buttons-hover));
}
