
body {
  background-color: #080B0E;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

p {
  color: #D7DAE0;
}

/*----------------------------------------------------------------------------*/

/* #terminal_list > li {
  position: absolute;
  top: 30px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #000;
}

#terminal {
  position: absolute;
  top: 30px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #000;
} */

iframe {
  position: absolute;
  top: 0px;
  left: 201px;
  width: calc(100% - 201px);
  height: 100%;
  border: none;
}
