
:root {
  --bg-color: #080B0E;
  --border-color: #1C262D;
  --tabs-font-color: #6B727D;
  --tabs-selected-font-color: #D7DAE0;
  --tabs-button-color: #568AF2;
  --tabs-delete-button-color: #D1334C;
  --input-warning-color: #D1334C;
}

[data-theme = "light"] {
  --bg-color: #fff;
  --border-color: #1C262D;
  --tabs-font-color: #6B727D;
  --tabs-selected-font-color: #D7DAE0;
  --tabs-button-color: #568AF2;
  --tabs-delete-button-color: #D1334C;
  --input-warning-color: #D1334C;
}

/*----------------------------------------------------------------------------*/

body {
  background-color: var(--bg-color);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
}

.block_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

/*----------------------------------------------------------------------------*/

iframe {
  position: absolute;
  top: 0px;
  left: 201px;
  width: calc(100% - 201px);
  height: 100%;
  border: none;
}

/*----------------------------------------------------------------------------*/

.scroll_style::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll_style::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #2C3236;
}

.scroll_style::-webkit-scrollbar-thumb {
  background-color: #4E6A81;
  border-radius: 2px;
}

/*----------------------------------------------------------------------------*/

.button {
  border-radius: 5px;
  background-color: #1D63ED;
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .15s all;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #3391EE;
}

.button > p {
  font-size: 16px;
  width: 100%;
  padding-top: 8px;
  text-align: center;
  transition: .15s all;
  font-weight: 450;
  color: #fff;
  margin: 0;
}

/*----------------------------------------------------------------------------*/

.not_active_button {
  border-radius: 5px;
  background-color: #31373A;
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  cursor: default;
  transition: .15s all;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.not_active_button > p {
  font-size: 16px;
  width: 100%;
  padding-top: 8px;
  text-align: center;
  transition: .15s all;
  font-weight: 450;
  color: #667375;
  margin: 0;
}

/*----------------------------------------------------------------------------*/

.alert_body .input_style {
  background-color: #141B1F;
  height: 34px;
  border: 1px solid #4E6A81;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFFFF;
}

.alert_body .input_style:focus{
  outline: none;
  border: 1px solid #1D63ED;
}

.alert_body .input_style::placeholder {
  color: #ADBECB;
}

.alert_body .name {
  position: absolute;
  top: -40px;
  font-size: 1.2em;
  color: #FFFFFF;
}

.alert_body hr {
  width: 100%;
  margin: 0px;
  border: none;
  border-bottom: 1px solid #384047;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert_body .input_warning {
  border: 1px solid var(--input-warning-color);
}

/*----------------------------------------------------------------------------*/

.alert_body #name {
  width: calc(100% - 35px);
  margin-bottom: 10px;
}

.alert_body #host {
  width: calc(70% - 35px);
  margin-bottom: 10px;
}

.alert_body #port {
  margin-left: 10px;
  width: calc(27.8% - 35px);
  margin-bottom: 10px;
}

.alert_body #login {
  margin-bottom: 10px;
}

.alert_body .submit {
  position: absolute;
  right: 35px;
  bottom: 35px;
  width: 100px;
}

/*----------------------------------------------------------------------------*/

.alert_body .name_delete {
  position: absolute;
  left: 15px;
  top: -40px;
  font-size: 1.2em;
  color: #FFFFFF;
}

.alert_body .delete_info {
  position: absolute;
  left: 15px;
  width: calc(100% - 30px);
  color: #A3B4C0;
}

.alert_body .delete {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 130px;
  background-color: var(--tabs-delete-button-color);
}

.alert_body .delete:hover {
  background-color: #DD4659;
}

/*----------------------------------------------------------------------------*/

.alert_body .name_settings {
  position: absolute;
  left: 30px;
  top: -40px;
  font-size: 1.2em;
  color: #FFFFFF;
}

.alert_body hr.hr_settings {
  width: calc(100% + 40px);
  margin: 0px;
  border: none;
  border-bottom: 1px solid #384047;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -20px;
}
