
:root {
  --bg-color: #080B0E;
  --border-color: #1C262D;
  --tabs-font-color: #6B727D;
  --tabs-selected-font-color: #D7DAE0;
  --tabs-button-color: #568AF2;
  --delete-button-color: #D1334C;
  --delete-hover-button-color: #DD4659;
  --input-warning-color: #D1334C;
  --input-focus: #1D63ED;
  --input-border-color: #4E6A81;
  --alert-font-color: #FFFFFF;
  --alert-font-sub-color: #ADBECB;
  --alert-hr-color: #384047;
  --alert-bg-color: #1C262D;
  --alert-settings-bg-color: #141B1F;
  --alert-border-color: #2D404E;
  --alert-info-color: #A3B4C0;
  --input-bg: #141B1F;
  --select-color: #3391EE;
  --scroll-track-bg-color: #2C3236;
  --scroll-thumb-bg-color: #4E6A81;
  --button-p-color: #fff;
  --button-select-color: #3391EE;
  --not-active-button-bg-color: #31373A;
  --not-active-button-p-color: #667375;
  --tabs-invert-buttons: .4;
  --tabs-invert-selected-buttons: .8;
  --tabs-invert-selected-buttons-hover: .15;
  --invert-buttons: .6;
  --invert-buttons-hover: 1;
  --checkbox-border-color: #94ABBC;
  --checkbox-selected-color: #3391EE;
  --checkbox-bg-color: #ffffff15;
}

[data-theme = "light"] {
  --bg-color: #FFF;
  --border-color: #E0E0E0;
  --tabs-font-color: #505968;
  --tabs-selected-font-color: #000000;
  --tabs-button-color: #1D63ED;
  --delete-button-color: #D1334C;
  --delete-hover-button-color: #DD4659;
  --input-warning-color: #D1334C;
  --input-focus: #1D63ED;
  --input-border-color: #E0E0E0;
  --alert-font-color: #000000;
  --alert-font-sub-color: #393F49;
  --alert-hr-color: #E0E0E0;
  --alert-bg-color: #FFFFFF;
  --alert-settings-bg-color: #F9F9FA;
  --alert-border-color: #E0E0E0;
  --alert-info-color: #393F49;
  --input-bg: #FFF;
  --select-color: #1D63ED;
  --button-select-color: #0C49C2;
  --scroll-track-bg-color: #ECECED;
  --scroll-thumb-bg-color: #8993A5;
  --button-p-color: #fff;
  --not-active-button-bg-color: #DBDBDC;
  --not-active-button-p-color: #A2A2A3;
  --tabs-invert-buttons: .8;
  --tabs-invert-selected-buttons: .4;
  --tabs-invert-selected-buttons-hover: .9;
  --invert-buttons: .6;
  --invert-buttons-hover: .4;
  --checkbox-border-color: #94ABBC;
  --checkbox-selected-color: #3391EE;
  --checkbox-bg-color: #00000015;
}

/*----------------------------------------------------------------------------*/

body {
  background-color: var(--bg-color);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
}

.block_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

/*----------------------------------------------------------------------------*/

iframe {
  position: absolute;
  top: 0px;
  left: 201px;
  width: calc(100% - 201px);
  height: 100%;
  border: none;
}

/*----------------------------------------------------------------------------*/

.scroll_style::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll_style::-webkit-scrollbar-track {
  border-radius: 2px;
  background: var(--scroll-track-bg-color);
}

.scroll_style::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg-color);
  border-radius: 2px;
}

/*----------------------------------------------------------------------------*/

.button {
  border-radius: 5px;
  background-color: var(--input-focus);
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .15s all;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: var(--button-select-color);
}

.button > p {
  font-size: 16px;
  width: 100%;
  padding-top: 8px;
  text-align: center;
  transition: .15s all;
  font-weight: 450;
  color: var(--button-p-color);
  margin: 0;
}

/*----------------------------------------------------------------------------*/

.not_active_button {
  border-radius: 5px;
  background-color: var(--not-active-button-bg-color);
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  cursor: default;
  transition: .15s all;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.not_active_button > p {
  font-size: 16px;
  width: 100%;
  padding-top: 8px;
  text-align: center;
  transition: .15s all;
  font-weight: 450;
  color: var(--not-active-button-p-color);
  margin: 0;
}

/*----------------------------------------------------------------------------*/

.alert_body .input_style {
  background-color: var(--input-bg);
  height: 34px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--alert-font-color);
}

.alert_body .input_style:focus{
  outline: none;
  border: 1px solid var(--input-focus);
}

.alert_body .input_style::placeholder {
  color: var(--alert-font-sub-color);
}

.alert_body .name {
  position: absolute;
  top: -40px;
  font-size: 1.2em;
  color: var(--alert-font-color);
}

.alert_body hr {
  width: 100%;
  margin: 0px;
  border: none;
  border-bottom: 1px solid var(--alert-hr-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert_body .input_warning {
  border: 1px solid var(--input-warning-color);
}

/*----------------------------------------------------------------------------*/

.alert_body #name {
  width: calc(100% - 35px);
  margin-bottom: 10px;
}

.alert_body #host {
  width: calc(70% - 35px);
  margin-bottom: 10px;
}

.alert_body #port {
  margin-left: 10px;
  width: calc(27.8% - 35px);
  margin-bottom: 10px;
}

.alert_body #login {
  margin-bottom: 10px;
}

.alert_body .submit {
  position: absolute;
  right: 35px;
  bottom: 35px;
  width: 100px;
}

/*----------------------------------------------------------------------------*/

.alert_body .name_delete {
  position: absolute;
  left: 15px;
  top: -40px;
  font-size: 1.2em;
  color: var(--alert-font-color);
}

.alert_body .delete_info {
  position: absolute;
  left: 15px;
  width: calc(100% - 30px);
  color: var(--alert-info-color);
}

.alert_body .delete {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 130px;
  background-color: var(--delete-button-color);
}

.alert_body .delete:hover {
  background-color: var(--delete-hover-button-color);
}

/*----------------------------------------------------------------------------*/

.alert_body .name_settings {
  position: absolute;
  left: 30px;
  top: -40px;
  font-size: 1.2em;
  color: var(--alert-font-color);
}

.alert_body hr.hr_settings {
  width: calc(100% + 40px);
  margin: 0px;
  border: none;
  border-bottom: 1px solid var(--alert-hr-color);
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -20px;
}
