
div.files_toolBar {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 100%;
  height: 25px;
  background-color: var(--terminal-bg);
  border-bottom: 1px solid var(--border-color);
  transition: .3s all;
}

div.files_toolBar.right {
  left: auto;
  right: 0px;
  width: 0%;
  border-left: 1px solid var(--border-color);
}

div.files_toolBar > p {
  position: absolute;
  margin: 0px;
  top: 2px;
  left: 10px;
  color: var(--tabs-selected-font-color);
}

div.files_toolBar > img.split {
  position: fixed;
  top: 36px;
  right: 10px;
  width: 16px;
  filter: invert(var(--invert-buttons));
  cursor: pointer;
  z-index: 2;
}

div.files_toolBar > img.split:hover {
  filter: invert(var(--invert-buttons-hover));
}

/* -------------------------------------------------------------------------- */

ul.files {
  position: absolute;
  top: calc(31px + 25px);
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  transition: .3s all;
  /* background-color: var(--terminal-bg); */
}

ul.files.right {
  left: auto;
  right: 0px;
  width: 0%;
  border-left: 1px solid var(--border-color);
}

ul.files > li {
  position: relative;
  height: 35px;
  width: 100%;
  /* border-bottom: 1px solid var(--border-color); */
  cursor: pointer;
  box-sizing: border-box;
  transition: .1s all;
}

ul.files > li:hover {
  background-color: var(--input-bg);
  border-left: 3px solid var(--input-bg);
  transition: .1s all;
}

ul.files > li.selected {
  background-color: var(--input-bg);
  border-left: 3px solid var(--select-color) !important;
}

ul.files > li > img {
  position: absolute;
  left: 20px;
  top: 7px;
  height: 20px;
}

ul.files > li > img.folder {
  filter: brightness(0) saturate(100%) invert(75%) sepia(39%) saturate(343%) hue-rotate(5deg) brightness(90%) contrast(91%);
}

ul.files > li > img.file {
  filter: brightness(0) saturate(100%) invert(72%) sepia(59%) saturate(244%) hue-rotate(156deg) brightness(84%) contrast(92%);
}

ul.files > li > img.link {
  filter: brightness(0) saturate(100%) invert(72%) sepia(59%) saturate(244%) hue-rotate(156deg) brightness(84%) contrast(92%);
}

ul.files > li > img.back {
  filter: invert(50%) sepia(35%) saturate(6992%) hue-rotate(144deg) brightness(94%) contrast(101%);
}

ul.files > li > p {
  position: absolute;
  margin-left: 60px;
  color: var(--tabs-selected-font-color);
  margin: 0px;
  top: 7px;
  left: 60px;
}

ul.files > li > p.size {
  left: auto;
  right: 10px;
  color: var(--tabs-font-color);
  width: 80px;
  text-align: left;
}

ul.files > li > p.access_rights {
  left: auto;
  right: 150px;
  color: var(--tabs-font-color);
  width: 100px;
  text-align: left;
}

ul.files > li.upload {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #00000000;
  cursor: default;
  pointer-events: none;
}

ul.files > li.upload:hover {
  background-color: #00000000;
  background-color: none;
  border-left: none;
}

ul.files.drag-over > li.upload {
  display: block;
}

ul.files > li.upload > div:first-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .4;
}

ul.files > li.upload > div:last-child {
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border: 5px dashed var(--tabs-selected-font-color);
  border-radius: 20px;
  box-sizing: border-box;
}

ul.files > li.upload > div:last-child > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  filter: invert(var(--tabs-invert-selected-buttons));
  width: 100px;
}

ul.files > li.upload > div:last-child > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: var(--tabs-selected-font-color);
  width: 100%;
  font-size: 1.6em;
  text-align: center;
}
