
div.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 31px;
  border-bottom: 1px dashed var(--border-color);
  background-color: var(--terminal-bg);
  box-sizing: border-box;
  padding-left: 10px;
}

div.menu > div {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

div.menu > div.selected {
  border-bottom: 2px solid var(--tabs-font-color);
}

div.menu > div > img {
  left: 10px;
  top: 5px;
  position: absolute;
  height: 18px;
  filter: invert(var(--invert-buttons));
}

div.menu > div.selected > img {
  filter: invert(var(--tabs-invert-selected-buttons));
}

div.menu > div > p {
  margin: 5px;
  margin-bottom: 3px;
  padding: 0px;
  margin-left: 40px;
  white-space: nowrap;
  color: var(--tabs-font-color);
}

div.menu > div.selected > p {
  color: var(--tabs-selected-font-color);
}

div.menu_item {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 100%;
  bottom: 0px;
}
