

/*----------------------------------------------------------------------------*/

.tabs_items {
  top: 31px;
  left: 0px;
  width: 200px;
  height: calc(100% - 23px);
  margin: 0px;
  /* padding-top: 25px; */
  /* margin-top: 25px; */
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.tabs_items::-webkit-scrollbar {
  display: none;
}

.tabs_items > li {
  position: relative;
  width: 100%;
  cursor: pointer;
  height: 40px;
}

.tabs_items > li.line {
  margin-top: 0px;
  border-bottom: 1px solid var(--border-color);
  height: 0px;
}

.tabs_items > li.selected {
  width: calc(100% - 3px);
  border-left: 3px solid var(--select-color);
  background-color: var(--input-bg);
}

.tabs_items > li > p {
  position: absolute;
  left: 35px;
  margin: 0;
  padding: 0px;
  width: calc(100% - 40px);
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--tabs-font-color);
}

.tabs_items > li > p.name {
  position: absolute;
  top: 0px;
  left: 39px;
}

.tabs_items > li > p.host {
  position: absolute;
  top: 20px;
  left: 39px;
  opacity: .8;
  font-size: .9em;
}

.tabs_items > li.selected > p {
  color: var(--tabs-selected-font-color);
  left: 36px;
}

/* -------------------------------------------------------------------------- */

.tabs_items > li > div.reconnect {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.tabs_items > li:hover > div.reconnect:hover {
  background-color: var(--tabs-button-color);
}

.tabs_items > li > div.edit {
  position: absolute;
  bottom: 3px;
  right: 25px;
}

.tabs_items > li:hover > div.edit:hover {
  background-color: var(--tabs-button-color);
}

.tabs_items > li > div.delete {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.tabs_items > li:hover > div.delete:hover {
  background-color: var(--delete-button-color);
}

/* -------------------------------------------------------------------------- */

.tabs_items > li > div {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  opacity: .0;
  transition: .1s all;
}

.tabs_items > li > div > img {
  position: absolute;
  width: 12px;
  height: 12px;
  filter: invert(var(--tabs-invert-buttons));
  top: 3px;
  left: 3px;
}

.tabs_items > li > img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 6px;
}

.tabs_items > li.selected > img {
  left: 3px;
}

.tabs_items > li:hover > div {
  opacity: 1;
}

.tabs_items > li.selected:hover > div > img {
  filter: invert(var(--tabs-invert-selected-buttons));
}

.tabs_items > li:hover > div:hover > img {
  filter: invert(var(--tabs-invert-selected-buttons-hover));
}

/* -------------------------------------------------------------------------- */

.tabs > li > div.group_activity {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  opacity: .0;
  transition: .1s all;
}

.tabs > li > div.group_activity > img {
  position: absolute;
  width: 12px;
  height: 12px;
  filter: invert(var(--tabs-invert-selected-buttons));
  top: 3px;
  left: 3px;
}

.tabs > li > img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 6px;
}

.tabs > li.selected > img {
  left: 3px;
}

.tabs > li:hover > div.group_activity {
  opacity: 1;
}

.tabs > li:hover > div:hover > img {
  filter: invert(var(--tabs-invert-selected-buttons-hover));
}

/* -------------------------------------------------------------------------- */

.tabs > li > div.more {
  position: absolute;
  top: 4px;
  right: 25px;
  cursor: pointer;
}

.tabs > li:hover > div.more:hover {
  background-color: var(--tabs-button-color);
}

.tabs > li > div.add {
  position: absolute;
  top: 4px;
  right: 3px;
  cursor: pointer;
}

.tabs > li:hover > div.add:hover {
  background-color: var(--tabs-good-color);
}

/* -------------------------------------------------------------------------- */

.tabs {
  position: fixed;
  top: 31px;
  left: 0px;
  width: 200px;
  height: calc(100% - 30px);
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.tabs::-webkit-scrollbar {
  display: none;
}

.empty {
  display: none;
  position: absolute;
  left: 0px;
  width: 200px;
  top: 30px;
  color: var(--tabs-selected-font-color);
  text-align: center;
}

.tabs:empty ~ .empty {
  display: block;
}

.tabs > li.group {
  position: relative;
  display: block;
  padding-top: 25px;
  transition: .1s all;
}

.tabs > li.group > ul {
  height: 0px;
  transition: .2s all;
}

.tabs > li.group.selected > ul {
  height: auto;
}

.tabs > li.group > p.empty_group {
  position: inherit;
  margin: 0px;
  padding: 5px 0px;
  text-align: center;
  display: none;
  width: 100%;
  color: var(--tabs-selected-font-color);
  border-bottom: 1px solid var(--border-color);
}

.tabs > li.group.selected > ul:empty ~ .empty_group {
  display: block;
}

.tabs > li.group.selected > img.dropdown {
  transform: rotate(0deg);
}

.tabs > li.group > .hitbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  /* opacity: 0; */
  cursor: pointer;
}

.tabs > li.group > .line {
  border-bottom: 1px solid var(--border-color);
}

.tabs > li.group > img {
  position: absolute;
  filter: invert(var(--invert-buttons));
  top: 4.5px;
  left: 10px;
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
  transition: .1s all;
}

.tabs > li.group > p.group_name {
  position: absolute;
  top: 2px;
  left: 35px;
  margin: 0;
  padding: 0px;
  color: var(--tabs-selected-font-color);
  width: calc(100% - 40px);
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabs > li.group:hover > p.group_name {
  width: calc(100% - 90px);
}

.tabs > li.group > img.more {
  position: absolute;
  top: 4.5px;
  left: 145px;
  width: 15px;
  height: 15px;
  opacity: .0;
  transform: rotate(0deg);
}

.tabs > li.group:hover > img.more {
  opacity: 1;
  cursor: pointer;
}

.tabs > li.group:hover > img.more:hover {
  filter: invert(var(--invert-buttons-hover));
}

.tabs > li.group > img.add {
  position: absolute;
  top: 4.5px;
  left: 175px;
  width: 15px;
  height: 15px;
  opacity: .0;
  transform: rotate(0deg);
}

.tabs > li.group:hover > img.add {
  opacity: 1;
  cursor: pointer;
}

.tabs > li.group:hover > img.add:hover {
  filter: invert(var(--invert-buttons-hover));
}

/* -------------------------------------------------------------------------- */

.status_none {
  filter: invert(.4);
}

.status_warning {
  filter: invert(33%) sepia(15%) saturate(5269%) hue-rotate(317deg) brightness(92%) contrast(104%);
}

.status_loading {
  filter: invert(66%) sepia(78%) saturate(2342%) hue-rotate(347deg) brightness(99%) contrast(88%);
}

.status_run {
  filter: invert(50%) sepia(35%) saturate(6992%) hue-rotate(144deg) brightness(94%) contrast(101%);
}
