
.toolBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 30px;
  border-bottom: 1px solid #1C262D;
  border-right: 1px solid #1C262D;
}

.toolBar > img {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 15px;
  filter: invert(.6);
  transition: .1s all;
  cursor: pointer;
}

.toolBar > img:hover {
  filter: invert(1);
}

.toolBar > input {
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: #141B1F;
  height: 22px;
  width: 155px;
  border: 1px solid #1C262D;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #FFFFFF;
}

.toolBar > input:focus{
  outline: none;
  border: 1px solid #1D63ED;
}

.toolBar_info {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 200px;
  text-align: center;
}

/*----------------------------------------------------------------------------*/

.tabs {
  position: fixed;
  top: 31px;
  left: 0px;
  width: 200px;
  height: calc(100% - 31px);
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid #1C262D;
  background-color: #080B0E;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tabs > li {
  /* margin-top: -5px; */
  position: relative;
  width: 100%;
  cursor: pointer;
  height: 40px;
}

.tabs > li.line {
  margin-top: 0px;
  border-bottom: 1px solid #1C262D;
  height: 0px;
}

.tabs > li.selected {
  width: calc(100% - 3px);
  border-left: 3px solid #3391EE;
  background-color: #141B1F;
}

.tabs > li > p {
  position: absolute;
  left: 35px;
  margin: 0;
  padding: 0px;
  width: calc(100% - 40px);
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6B727D;
}

.tabs > li > p.name {
  position: absolute;
  top: 0px;
  left: 39px;
}

.tabs > li > p.host {
  position: absolute;
  top: 20px;
  left: 39px;
  opacity: .8;
  font-size: .9em;
}

.tabs > li.selected > p {
  color: #D7DAE0;
  left: 36px;
}

/* -------------------------------------------------------------------------- */

.tabs > li > div.edit {
  position: absolute;
  bottom: 3px;
  right: 25px;
}

.tabs > li:hover > div.edit:hover {
  background-color: #568AF2;
}

.tabs > li > div.delete {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.tabs > li:hover > div.delete:hover {
  background-color: #D1334C;
}

/* -------------------------------------------------------------------------- */

.tabs > li > div {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  opacity: .0;
  transition: .1s all;
}

.tabs > li > div > img {
  position: absolute;
  width: 12px;
  height: 12px;
  filter: invert(.4);
  top: 3px;
  left: 3px;
}

.tabs > li > img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 6px;
}

.tabs > li.selected > img {
  left: 3px;
}

.tabs > li:hover > div {
  opacity: 1;
}

.tabs > li.selected:hover > div > img {
  filter: invert(.8);
}

.tabs > li:hover > div:hover > img {
  filter: invert(0.15);
}

/* -------------------------------------------------------------------------- */

.status_none {
  filter: invert(.4);
}

.status_warning {
  filter: invert(33%) sepia(15%) saturate(5269%) hue-rotate(317deg) brightness(92%) contrast(104%);
}

.status_loading {
  filter: invert(66%) sepia(78%) saturate(2342%) hue-rotate(347deg) brightness(99%) contrast(88%);
}

.status_run {
  filter: invert(50%) sepia(35%) saturate(6992%) hue-rotate(144deg) brightness(94%) contrast(101%);
}
