
.alert {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51%);
  width: 550px;
  background-color: var(--alert-bg-color);
  border-radius: 5px;
  z-index: 12;
  box-shadow: 0px 4px 27px 11px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--alert-border-color);
  height: 500px;
}

.alert_group {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  width: 550px;
  background-color: var(--alert-bg-color);
  border-radius: 5px;
  z-index: 12;
  box-shadow: 0px 4px 27px 11px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--alert-border-color);
  height: 210px;
}

.alert_body #name {
  width: calc(100% - 35px);
  margin-bottom: 10px;
}

.alert_body .name_info {
  margin: 0px;
  padding: 0px;
  font-size: .9em;
  margin-top: -8px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: var(--alert-info-color);
}

.alert_body #host {
  width: calc(70% - 35px);
  margin-bottom: 10px;
}

.alert_body #port {
  margin-left: 10px;
  width: calc(27.8% - 35px);
  margin-bottom: 10px;
}

.alert_body .port_info {
  margin: 0px;
  padding: 0px;
  font-size: .9em;
  margin-top: -8px;
  margin-left: 15px;
  margin-bottom: 10px;
  width: 95%;
  text-align: right;
  color: var(--alert-info-color);
}

.alert_body #login_lap, #login_lak {
  margin-bottom: 10px;
  margin-right: 8px;
  width: 42%;
}

.alert_body #password {
  width: 48.5%;
  box-sizing: border-box;
  height: 39px;
}

.alert_body #group_name {
  height: 39px;
  width: 40%;
  padding-right: 50px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.alert_body #name_connection {
  width: 50.3%;
}

.alert_body #privateKey {
  width: 34.8%;
  padding-right: 50px;
}

.alert_body #first_command {
  width: calc(100% - 35px);
  padding-top: 8px;
  padding-bottom: 8px;
  height: 40px;
  resize: none;
}

.alert_body #import_items_list {
  width: 100%;
  height: 155px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  margin-top: -5px;
  border-radius: 4px;
}

.alert_body #import_items_list > li {
  position: relative;
  height: 40px;
  border-bottom: 1px solid var(--border-color);
  padding: 0px;
  margin: 0px;
}

.alert_body #import_items_list > li > img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  filter: invert(.5);
}

.alert_body #import_items_list > li > p.name {
  position: absolute;
  top: 2px;
  left: 40px;
  padding: 0px;
  margin: 0px;
}

.alert_body #import_items_list > li > p.host {
  position: absolute;
  top: 20px;
  left: 40px;
  padding: 0px;
  margin: 0px;
  color: var(--tabs-selected-font-color);
}

.alert_body img.see {
  position: absolute;
  top: 212px;
  right: 50px;
  filter: invert(var(--invert-buttons));
  transition: .1s all;
  cursor: pointer;
}

.alert_body img.see:hover {
  filter: invert(var(--invert-buttons-hover));
}

.alert_body .first_command_info {
  margin: 0px;
  padding: 0px;
  font-size: .9em;
  margin-top: -2px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: var(--alert-info-color);
}

.alert_body .connection_page_name {
  margin: 0px;
  padding: 0px;
  font-size: .9em;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: var(--alert-font-color);
}

.alert_body .connection_page_name_auth {
  margin: 0px;
  padding: 0px;
  margin-top: -20px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: var(--alert-font-color);
}

.alert_body .submit {
  position: absolute;
  right: 35px;
  bottom: 35px;
  width: 100px;
}

.alert_body .share {
  position: absolute;
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
  right: 150px;
  bottom: 35px;
  width: 100px;
  background-color: var(--tabs-good-color);
}


.alert_body .share:hover {
  background-color: var(--tabs-good-color-hover);
}

.alert_body .predelete {
  position: absolute;
  left: 35px;
  bottom: 35px;
  width: 100px;
  background-color: var(--delete-button-color);
}

.alert_body .predelete:hover {
  background-color: var(--delete-hover-button-color);
}

.alert_body .connection_auth_scheme {
  position: absolute;
  height: 30px;
  margin-left: 134px;
  margin-top: -35.5px;
  padding-right: 15px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 1.1em;
  color: var(--alert-font-color);
  background-color: var(--alert-bg-color);
  border: none;
  text-decoration: underline var(--input-border-color);
  text-underline-offset: 3px;
  cursor: pointer;
}

.alert_body .connection_auth_scheme:focus{
  outline: none;
}

#auth_scheme_input_lak {
  position: relative;
}

#auth_scheme_input_lak > .option {
  cursor: pointer;
}

#auth_scheme_input_lak > .option > p {
  position: absolute;
  top: -40px;
  right: 20px;
  font-size: 2em;
  color: var(--input-border-color);
  transition: .15s all;
}

#auth_scheme_input_lak > .option > div {
  position: absolute;
  top: 1px;
  right: 12px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: .15s all;
  opacity: .5;
}

#auth_scheme_input_lak > .option:hover > div {
  background-color: var(--input-border-color);
}

#auth_scheme_input_lak > .option:hover > p {
  color: var(--input-focus);
}
