
.settings_alert {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--alert-settings-bg-color);
  z-index: 5;
}

.settings_body {
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 70px);
  width: 100%;
  padding-left: 25%;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.alert_body .name_settings {
  position: absolute;
  left: 30px;
  top: -40px;
  font-size: 1.2em;
  color: var(--alert-font-color);
}

.alert_body hr.hr_settings {
  width: calc(100% + 40px);
  margin: 0px;
  border: none;
  border-bottom: 1px solid var(--alert-hr-color);
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -20px;
}

.settings_alert .settings_buttons_bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  border-top: 1px solid var(--alert-hr-color);
}

.settings_alert label {
  color: var(--alert-font-color);
}

.settings_alert .info_settings {
  color: var(--alert-font-sub-color);
}

.settings_alert .settings_h {
  color: var(--alert-font-color);
  font-size: 1.2em;
  margin-bottom: 0px;
}

.settings_alert label, .settings_alert input {
  cursor: pointer;
}

.settings_one_line {
  margin-top: -15px;
}

.settings_one_line > div {
  display: inline-block;
  margin-right: 50px;
}

.alert_body .save {
  position: absolute;
  right: 35px;
  bottom: 18px;
  width: 100px;
}

.settings_alert .alert_body {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 40px;
}

.settings_alert .alert_head img {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 35px;
  transform: rotate(45deg);
  cursor: pointer;
  filter: invert(var(--invert-buttons));
  transition: .1s all;
  z-index: 2;
}

.settings_body .number > input {
  margin-left: 10px;
  width: 50px;
  cursor: text;
}

.settings_body .number > input::-webkit-outer-spin-button,
.settings_body .number > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settings_body .number > label {
  margin-left: 5px;
}

/* -------------------------------------------------------------------------- */

ul.settings_list {
  position: fixed;
  left: 20px;
  top: 60px;
}

ul.settings_list > li {
  position: relative;
  width: 200px;
  height: 40px;
  /* margin-bottom: 10px; */
  cursor: pointer;
}

ul.settings_list > li > div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--alert-font-color);
  /* border-radius: 8px; */
  transition: .1s all;
}

ul.settings_list > li:hover > div {
  opacity: .08;
}

ul.settings_list > li.selected > div {
  background-color: var(--select-color);
  opacity: .2;
}

ul.settings_list > li > p {
  position: absolute;
  left: 60px;
  top: 10px;
  margin: 0px;
  /* font-size: 12px; */
  color: var(--alert-font-color);
}

ul.settings_list > li > img {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 20px;
  filter: invert(var(--invert-buttons));
}
