.alert_sftp {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51%);
  width: 550px;
  background-color: var(--alert-bg-color);
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0px 4px 27px 11px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--alert-border-color);
  height: 500px;
}

.alert_sftp_file {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  width: 550px;
  background-color: var(--alert-bg-color);
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0px 4px 27px 11px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--alert-border-color);
  height: 200px;
}
